{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "esnext",
    "loose": false,
    "externalHelpers": false,
    "paths": {
      "@/*": ["*"]
    },
    "baseUrl": "./src"
  },
  "minify": false,
  "module": { "type": "commonjs" }
}
