<div [formGroup]="group">
  <div class="grid grid-3">
    <input type="text" placeholder="Rua" formControlName="street" />
    <input type="text" placeholder="Avenida" formControlName="avenue" />
    <input type="number" placeholder="Número" formControlName="number" />
  </div>

  <div class="grid grid-3">
    <input type="text" placeholder="Cidade" formControlName="city" />
    <input type="text" placeholder="Estado" formControlName="state" />
    <input type="text" placeholder="CEP" formControlName="zip" />
  </div>
</div>
